.button, .toggle-button {
    -fx-cursor: hand;
}

.button {
    -fx-border-radius: 25;
    -fx-background-radius: 25;
}

.toggle-button:selected {
    -fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
    -fx-scale-z: 1.3;
    -fx-effect: dropshadow(gaussian, rgba(51, 153, 51, 1) , 20, 0, 0, 0);

}

.btnReponse {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-border-color: black;
}

.btnFaux {
    -fx-background-color: white;
    -fx-text-fill: red;
    -fx-font-size: 15;
    -fx-border-color: red;
}

.btnVrai {
    -fx-background-color: white;
    -fx-text-fill: green;
    -fx-font-size: 15;
    -fx-border-color: green;
}

#lblReponse {
    -fx-font-size: 15;
}

.lblFaux {
    -fx-text-fill: red;
}

.lblVrai {
    -fx-text-fill: green;
}

#lblScore {
    -fx-font-size: 15;
}

#btnJouer {
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
    -fx-font-size: 30;
}

#btnJouer:hover {
    -fx-background-color: white;
    -fx-text-fill: #2196f3;
    -fx-font-size: 30;
    -fx-border-color: #2196f3;
}

#btnQuitter {
    -fx-background-color: orangered;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

#btnQuitter:hover {
    -fx-background-color: white;
    -fx-text-fill: orangered;
    -fx-font-size: 20;
    -fx-border-color: orangered;
}


#btnRetour {
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

#btnRetour:hover {
    -fx-background-color: white;
    -fx-text-fill: #2196f3;
    -fx-border-color: #2196f3;
}

#btnSuivant {
    -fx-background-color: limegreen;
    -fx-text-fill: white;
    -fx-font-size: 20;
}

#btnSuivant:hover {
    -fx-background-color: white;
    -fx-text-fill: limegreen;
    -fx-border-color: limegreen;
}

#titreChoix {
    -fx-font-size: 30;
}

#btnAllemand {
    -fx-graphic: url("images/icons8-germany.png");
    -fx-background-color: transparent;
}

#btnAllemand:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-scale-z: 1.5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8) , 10, 0, 0, 0);
}

#btnAnglais {
    -fx-graphic: url("images/icons8-great_britain.png");
    -fx-background-color: transparent;
}

#btnAnglais:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-scale-z: 1.5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8) , 10, 0, 0, 0);
}

#btnEspagnol {
    -fx-graphic: url("images/icons8-spain_2.png");
    -fx-background-color: transparent;
}

#btnEspagnol:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-scale-z: 1.5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8) , 10, 0, 0, 0);
}

#lblLangueChoisie {
    -fx-font-size: 15;
}

#btnQuotidien {
    -fx-graphic: url("images/icons8-talk_female.png");
    -fx-background-color: transparent;
}

#btnQuotidien:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-scale-z: 1.5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8) , 10, 0, 0, 0);
}

#btnMaison {
    -fx-graphic: url("images/icons8-home.png");
    -fx-background-color: transparent;
}

#btnMaison:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-scale-z: 1.5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8) , 10, 0, 0, 0);
}

#btnFamille {
    -fx-graphic: url("images/icons8-family.png");
    -fx-background-color: transparent;
}

#btnFamille:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-scale-z: 1.5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8) , 10, 0, 0, 0);
}

#btnAliments {
    -fx-graphic: url("images/icons8-hamburger.png");
    -fx-background-color: transparent;
}

#btnAliments:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-scale-z: 1.5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8) , 10, 0, 0, 0);
}

#btnCorps {
    -fx-graphic: url("images/icons8-torso.png");
    -fx-background-color: transparent;
}

#btnCorps:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-scale-z: 1.5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8) , 10, 0, 0, 0);
}

#btnChiffres {
    -fx-graphic: url("images/icons8-123.png");
    -fx-background-color: transparent;
}

#btnChiffres:hover {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-scale-z: 1.5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8) , 10, 0, 0, 0);
}

#titreChoix {
    -fx-border-style: solid;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

#titre {
    -fx-font-size: 40;
}

#pageAccueil {
    -fx-background-image: url("images/terre.gif");
}